<a href="https://colab.research.google.com/github/ujjukumar/Exploring-Pokemon-cards-using-pandas/blob/main/Pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing libraries

import pandas as pd

In [8]:
# Loading data from csv file

df = pd.read_csv("drive/MyDrive/Colab Notebooks/Pandas Tutorial/pokemon_data.csv")

In [9]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [46]:
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [11]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [23]:
df.loc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [24]:
df.iloc[2,1]

'Venusaur'

In [45]:
df.loc[df['Type 1'] == 'Fire']

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
42    37                     Vulpix   Fire  ...    65           1      False
43    38                  Ninetales   Fire  ...   100           1      False
63    58                  Growlithe   Fire  ...    60           1      False
64    59                   Arcanine   Fire  ...    95           1      False
83    77                     Ponyta   Fire  ...    90           1      False
84    78                   Rapidash   Fire  ...   105           1      False
135  126                     Magmar   Fire  ...    93           1      False
147  136                    Flareon   Fire  ...    65           1      False
158  146                    Moltres   Fire  ...    90           1       True
169  155                  Cyndaquil   Fire  ...    65           2      False
170  156                    Quilava   Fire  ...    80           2      False
171  157                 Typhlosion   Fire  ...   100           2      False
236  218                     Slugma   Fire  ...    20           2      False
237  219                   Magcargo   Fire  ...    30           2      False
259  240                      Magby   Fire  ...    83           2      False
263  244                      Entei   Fire  ...   100           2       True
270  250                      Ho-oh   Fire  ...    90           2       True
276  255                    Torchic   Fire  ...    45           3      False
277  256                  Combusken   Fire  ...    55           3      False
278  257                   Blaziken   Fire  ...    80           3      False
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
352  322                      Numel   Fire  ...    35           3      False
353  323                   Camerupt   Fire  ...    40           3      False
354  323      CameruptMega Camerupt   Fire  ...    20           3      False
355  324                    Torkoal   Fire  ...    20           3      False
435  390                   Chimchar   Fire  ...    61           4      False
436  391                   Monferno   Fire  ...    81           4      False
437  392                  Infernape   Fire  ...   108           4      False
518  467                  Magmortar   Fire  ...    83           4      False
542  485                    Heatran   Fire  ...    77           4       True
557  498                      Tepig   Fire  ...    45           5      False
558  499                    Pignite   Fire  ...    55           5      False
559  500                     Emboar   Fire  ...    65           5      False
572  513                    Pansear   Fire  ...    64           5      False
573  514                   Simisear   Fire  ...   101           5      False
614  554                   Darumaka   Fire  ...    50           5      False
615  555    DarmanitanStandard Mode   Fire  ...    95           5      False
616  555         DarmanitanZen Mode   Fire  ...    55           5      False
692  631                    Heatmor   Fire  ...    65           5      False
721  653                   Fennekin   Fire  ...    60           6      False
722  654                    Braixen   Fire  ...    73           6      False
723  655                    Delphox   Fire  ...   104           6      False
730  662                Fletchinder   Fire  ...    84           6      False
731  663                 Talonflame   Fire  ...   126           6      False
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[52 rows x 12 columns]

In [ ]:
# Iterating through all rows

for indx, row in df.iterrows():
    print(indx, row['Name'])

In [50]:
# Sorting values

df.sort_values('Name')

       #                     Name   Type 1  ... Speed  Generation  Legendary
510  460                Abomasnow    Grass  ...    60           4      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                     Abra  Psychic  ...    90           1      False
392  359                    Absol     Dark  ...    75           3      False
393  359          AbsolMega Absol     Dark  ...   115           3      False
..   ...                      ...      ...  ...   ...         ...        ...
632  571                  Zoroark     Dark  ...   105           5      False
631  570                    Zorua     Dark  ...    65           5      False
46    41                    Zubat   Poison  ...    55           1      False
695  634                 Zweilous     Dark  ...    58           5      False
794  718         Zygarde50% Forme   Dragon  ...    95           6       True

[800 rows x 12 columns]

In [51]:
df.sort_values(by=['Type 1', 'Attack'], ascending=[1, 0])

       #                     Name Type 1  ... Speed  Generation  Legendary
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
137  127        PinsirMega Pinsir    Bug  ...   105           1      False
19    15    BeedrillMega Beedrill    Bug  ...   145           1      False
229  212        ScizorMega Scizor    Bug  ...    75           2      False
650  589               Escavalier    Bug  ...    20           5      False
..   ...                      ...    ...  ...   ...         ...        ...
405  370                  Luvdisc  Water  ...    97           3      False
198  183                   Marill  Water  ...    40           2      False
508  458                  Mantyke  Water  ...    50           4      False
381  349                   Feebas  Water  ...    80           3      False
139  129                 Magikarp  Water  ...    80           1      False

[800 rows x 12 columns]

In [53]:
# Adding new column to df

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

In [65]:
cols = df.columns.to_list()

cols = cols[:4] + [cols[-1]] + cols[4:12]

df = df[cols]

In [70]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [72]:
# Saving to csv 

df.to_csv("drive/MyDrive/Colab Notebooks/Pandas Tutorial/modified_pokemon_data_v1.csv", index=False)

In [76]:
# Filtering data

new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

In [81]:
new_df

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
49    44                  Gloom  Grass  ...    40           1      False
50    45              Vileplume  Grass  ...    50           1      False
75    69             Bellsprout  Grass  ...    40           1      False
76    70             Weepinbell  Grass  ...    55           1      False
77    71             Victreebel  Grass  ...    70           1      False
344  315                Roselia  Grass  ...    65           3      False
451  406                  Budew  Grass  ...    55           4      False
452  407               Roserade  Grass  ...    90           4      False
651  590                Foongus  Grass  ...    15           5      False
652  591              Amoonguss  Grass  ...    30           5      False

[15 rows x 13 columns]

In [82]:
# To reset index label

new_df.reset_index(drop=True, inplace=True)

In [83]:
new_df

      #                   Name Type 1  ... Speed  Generation  Legendary
0     1              Bulbasaur  Grass  ...    45           1      False
1     2                Ivysaur  Grass  ...    60           1      False
2     3               Venusaur  Grass  ...    80           1      False
3     3  VenusaurMega Venusaur  Grass  ...    80           1      False
4    43                 Oddish  Grass  ...    30           1      False
5    44                  Gloom  Grass  ...    40           1      False
6    45              Vileplume  Grass  ...    50           1      False
7    69             Bellsprout  Grass  ...    40           1      False
8    70             Weepinbell  Grass  ...    55           1      False
9    71             Victreebel  Grass  ...    70           1      False
10  315                Roselia  Grass  ...    65           3      False
11  406                  Budew  Grass  ...    55           4      False
12  407               Roserade  Grass  ...    90           4      False
13  590                Foongus  Grass  ...    15           5      False
14  591              Amoonguss  Grass  ...    30           5      False

[15 rows x 13 columns]

In [84]:
df.loc[df['Name'].str.contains('Mega')]

# For complement of this use '~' symbol

       #                       Name    Type 1  ... Speed  Generation  Legendary
3      3      VenusaurMega Venusaur     Grass  ...    80           1      False
7      6  CharizardMega Charizard X      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
12     9    BlastoiseMega Blastoise     Water  ...    78           1      False
19    15      BeedrillMega Beedrill       Bug  ...   145           1      False
23    18        PidgeotMega Pidgeot    Normal  ...   121           1      False
71    65      AlakazamMega Alakazam   Psychic  ...   150           1      False
87    80        SlowbroMega Slowbro     Water  ...    30           1      False
102   94          GengarMega Gengar     Ghost  ...   130           1      False
124  115  KangaskhanMega Kangaskhan    Normal  ...   100           1      False
137  127          PinsirMega Pinsir       Bug  ...   105           1      False
141  130      GyaradosMega Gyarados     Water  ...    81           1      False
154  142  AerodactylMega Aerodactyl      Rock  ...   150           1      False
163  150        MewtwoMega Mewtwo X   Psychic  ...   130           1       True
164  150        MewtwoMega Mewtwo Y   Psychic  ...   140           1       True
168  154                   Meganium     Grass  ...    80           2      False
196  181      AmpharosMega Ampharos  Electric  ...    45           2      False
224  208        SteelixMega Steelix     Steel  ...    30           2      False
229  212          ScizorMega Scizor       Bug  ...    75           2      False
232  214    HeracrossMega Heracross       Bug  ...    75           2      False
248  229      HoundoomMega Houndoom      Dark  ...   115           2      False
268  248    TyranitarMega Tyranitar      Rock  ...    71           2      False
275  254      SceptileMega Sceptile     Grass  ...   145           3      False
279  257      BlazikenMega Blaziken      Fire  ...   100           3      False
283  260      SwampertMega Swampert     Water  ...    70           3      False
306  282    GardevoirMega Gardevoir   Psychic  ...   100           3      False
327  302        SableyeMega Sableye      Dark  ...    20           3      False
329  303          MawileMega Mawile     Steel  ...    50           3      False
333  306          AggronMega Aggron     Steel  ...    50           3      False
336  308      MedichamMega Medicham  Fighting  ...   100           3      False
339  310    ManectricMega Manectric  Electric  ...   135           3      False
349  319      SharpedoMega Sharpedo     Water  ...   105           3      False
354  323      CameruptMega Camerupt      Fire  ...    20           3      False
366  334        AltariaMega Altaria    Dragon  ...    80           3      False
387  354        BanetteMega Banette     Ghost  ...    75           3      False
393  359            AbsolMega Absol      Dark  ...   115           3      False
397  362          GlalieMega Glalie       Ice  ...   100           3      False
409  373    SalamenceMega Salamence    Dragon  ...   120           3      False
413  376    MetagrossMega Metagross     Steel  ...   110           3      False
418  380          LatiasMega Latias    Dragon  ...   110           3       True
420  381          LatiosMega Latios    Dragon  ...   110           3       True
426  384      RayquazaMega Rayquaza    Dragon  ...   115           3       True
476  428        LopunnyMega Lopunny    Normal  ...   135           4      False
494  445      GarchompMega Garchomp    Dragon  ...    92           4      False
498  448        LucarioMega Lucario  Fighting  ...   112           4      False
511  460    AbomasnowMega Abomasnow     Grass  ...    30           4      False
527  475        GalladeMega Gallade   Psychic  ...   110           4      False
591  531          AudinoMega Audino    Normal  ...    50           5      False
796  719        DiancieMega Diancie      Rock  ...   110           6       True

[49 rows x 13 columns]

In [87]:
# To do regex pattern filtering

import re

df.loc[df['Name'].str.contains('^pi[a-z]*', regex=True, flags=re.I)]

       #                 Name    Type 1  ... Speed  Generation  Legendary
20    16               Pidgey    Normal  ...    56           1      False
21    17            Pidgeotto    Normal  ...    71           1      False
22    18              Pidgeot    Normal  ...   101           1      False
23    18  PidgeotMega Pidgeot    Normal  ...   121           1      False
30    25              Pikachu  Electric  ...    90           1      False
136  127               Pinsir       Bug  ...    85           1      False
137  127    PinsirMega Pinsir       Bug  ...   105           1      False
186  172                Pichu  Electric  ...    60           2      False
219  204               Pineco       Bug  ...    15           2      False
239  221            Piloswine       Ice  ...    50           2      False
438  393               Piplup     Water  ...    40           4      False
558  499              Pignite      Fire  ...    55           5      False
578  519               Pidove    Normal  ...    43           5      False

[13 rows x 13 columns]

In [90]:
# Replacing values

df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

In [91]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander   Flamer  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion   Flamer  ...    70           6       True

[800 rows x 13 columns]

In [96]:
# Grouping by a column

df.groupby('Type 1').mean().sort_values('Attack', ascending=False)

                   #       Total         HP  ...       Speed  Generation  Legendary
Type 1                                       ...
Dragon    474.375000  550.531250  83.312500  ...   83.031250    3.875000   0.375000
Fighting  363.851852  416.444444  69.851852  ...   66.074074    3.370370   0.000000
Ground    356.281250  437.500000  73.781250  ...   63.906250    3.156250   0.125000
Rock      392.727273  453.750000  65.363636  ...   55.909091    3.454545   0.090909
Steel     442.851852  487.703704  65.222222  ...   55.259259    3.851852   0.148148
Dark      461.354839  445.741935  66.806452  ...   76.161290    4.032258   0.064516
Flamer    327.403846  458.076923  69.903846  ...   74.442308    3.211538   0.096154
Flying    677.750000  485.000000  70.750000  ...  102.500000    5.500000   0.500000
Poison    251.785714  399.142857  67.250000  ...   63.571429    2.535714   0.000000
Water     303.089286  430.455357  72.062500  ...   65.964286    2.857143   0.035714
Ghost     486.500000  439.562500  64.437500  ...   64.343750    4.187500   0.062500
Normal    319.173469  401.683673  77.275510  ...   71.551020    3.051020   0.020408
Grass     344.871429  421.142857  67.271429  ...   61.928571    3.357143   0.042857
Ice       423.541667  433.458333  72.000000  ...   63.458333    3.541667   0.083333
Psychic   380.807018  475.947368  70.631579  ...   81.491228    3.385965   0.245614
Bug       334.492754  378.927536  56.884058  ...   61.681159    3.217391   0.000000
Electric  363.500000  443.409091  59.795455  ...   84.500000    3.272727   0.090909
Fairy     449.529412  413.176471  74.117647  ...   48.588235    4.117647   0.058824

[18 rows x 10 columns]

In [97]:
df.groupby('Type 1').sum()

              #  Total    HP  Attack  ...  Sp. Def  Speed  Generation  Legendary
Type 1                                ...
Bug       23080  26146  3925    4897  ...     4471   4256         222          0
Dark      14302  13818  2071    2740  ...     2155   2361         125          2
Dragon    15180  17617  2666    3588  ...     2843   2657         124         12
Electric  15994  19510  2631    3040  ...     3243   3718         144          4
Fairy      7642   7024  1260    1046  ...     1440    826          70          1
Fighting   9824  11244  1886    2613  ...     1747   1784          91          0
Flamer    17025  23820  3635    4408  ...     3755   3871         167          5
Flying     2711   1940   283     315  ...      290    410          22          2
Ghost     15568  14066  2062    2361  ...     2447   2059         134          2
Grass     24141  29480  4709    5125  ...     4930   4335         235          3
Ground    11401  14000  2361    3064  ...     2008   2045         101          4
Ice       10165  10403  1728    1746  ...     1831   1523          85          2
Normal    31279  39365  7573    7200  ...     6245   7012         299          2
Poison     7050  11176  1883    2091  ...     1803   1780          71          0
Psychic   21706  27129  4026    4073  ...     4918   4645         193         14
Rock      17280  19965  2876    4086  ...     3321   2460         152          4
Steel     11957  13168  1761    2503  ...     2177   1492         104          4
Water     33946  48211  8071    8305  ...     7898   7388         320          4

[18 rows x 10 columns]

In [98]:
df.groupby('Type 1').count()

            #  Name  Type 2  Total  ...  Sp. Def  Speed  Generation  Legendary
Type 1                              ...
Bug        69    69      52     69  ...       69     69          69         69
Dark       31    31      21     31  ...       31     31          31         31
Dragon     32    32      21     32  ...       32     32          32         32
Electric   44    44      17     44  ...       44     44          44         44
Fairy      17    17       2     17  ...       17     17          17         17
Fighting   27    27       7     27  ...       27     27          27         27
Flamer     52    52      24     52  ...       52     52          52         52
Flying      4     4       2      4  ...        4      4           4          4
Ghost      32    32      22     32  ...       32     32          32         32
Grass      70    70      37     70  ...       70     70          70         70
Ground     32    32      19     32  ...       32     32          32         32
Ice        24    24      11     24  ...       24     24          24         24
Normal     98    98      37     98  ...       98     98          98         98
Poison     28    28      13     28  ...       28     28          28         28
Psychic    57    57      19     57  ...       57     57          57         57
Rock       44    44      35     44  ...       44     44          44         44
Steel      27    27      22     27  ...       27     27          27         27
Water     112   112      53    112  ...      112    112         112        112

[18 rows x 12 columns]

In [ ]:
# To load large dataset step by step 

num_rows = 1000
df = pd.read_csv("filename.csv", chunksize=num_rows)